<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the title of the HTML document -->
    <title>After School Lessons</title>
    <!-- Link to the external stylesheet for styling -->
    <link rel="stylesheet" href="styles.css">
    <!-- This is the link to the Vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- This is linking the JavaScript file containing lessons data -->
    <script src="lessons.js"></script>
</head>

<body>
    <!-- Vue.js app container -->
    <!--creating a new vue instance with the element named as app -->
    <div id="app"> <!--anchor point for Vue.js to mount and control the application-->
        <main> <!--main content of my web page-->

            <!-- Display site name using mustache syntax-->
            <h1>{{sitename}}</h1>
            <!--syntax for data binding (dynamically updates when value of 'sitename' variable changes)-->

            <!-- Label for the sort dropdown -->
            <label for="sortAttribute">Sort by:</label>

            <!-- Dropdown for selecting sorting attribute -->
            <!--v-model="sortattribute" is a vue.js directive - it creates 2 way binding b/w sortAttribute in data & select element-->
            <!--if the user selects an option, sortAttribute in my Vue.js instance will be updated, and vice versa-->
            <select v-model="sortAttribute" id="sortAttribute">
                <option value="name">Subject</option>
                <option value="location">Location</option>
                <option value="price">Price</option>
                <option value="availability">Spaces</option>
                <!--<option> Elements: are individual options within the dropdown. -->
                <!--Each option has a value attribute representing the sorting attribute, and the text content inside the <option> tag is what the user sees in the dropdown menu.-->
            </select>

            <!-- Dropdown for selecting sorting order -->
            <!---->
            <label for="sortOrder">Order:</label>

            <!-- v-model="sortOrder" establishes a two-way binding between the dropdown and the data in the Vue instance-->
            <select v-model="sortOrder" id="sortOrder">
                <!--Ascending" is chosen, lessons will be sorted from the smallest to the largest-->
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
                <!--user selects an option, the sortOrder variable is updated with the chosen value.-->
            </select>
            <!--SEARCH BAR-->
            <!--(type="text"): This sets the input field to accept text-->
            <input type="text" v-model="searchQuery" placeholder="Search lessons">
            <!--v-model="searchQuery": establishes a two-way binding between the input field and the searchQuery variable in the Vue instance-->
            <!--As the user types into the search bar, the searchQuery variable is automatically updated with the input.-->


            <!-- SHOPPING CART BUTTON -->
            <!--(v-on:click='toggleCart') Vue.js directive - listens for a click event
            When the button is clicked, it triggers the toggleCart method in the Vue instance.-->
            <button v-on:click='toggleCart' :disabled="cart.length === 0">
                <!--(disabled="cart.length === 0") Vue.js directive - for dynamic attribute binding
            disables button if the condition cart.length === 0 evaluates to true. (if the shopping cart is empty, the button is disabled; otherwise, it's enabled)-->
                {{cartItemCount}}
                <!--computed property in the Vue instance that dynamically calculates and updates the number of items in the shopping cart.-->
                <span class="fas fa-cart-plus"></span> Shopping Cart
            </button>

            <!--LESSON DISPLAY-->

            <!--(<div v-if='showProduct'>) Vue.js directive used for conditional rendering-->
            <div v-if='showProduct'> <!--inside data object if showProduct=true then all lessons are displayed-->

                <!-- Display lessons -->
                <div class="lessons-container"> <!--hold and structure the display of lessons (CSS file)-->


                    <!-- DISPLAY EACH LESSON (LOOP THROUGH) -->

                    <!--(v-for) creating a loop that goes through each lesson in the filteredLessons array.-->
                    <div v-for="lesson in filteredLessons" class="lesson-box">

                        <!-- Lesson details -->
                        <h2>{{ lesson.name }}</h2>

                        <!-- Display lesson image -->
                        <!-- v-bind used for binding attributes to expressions. (Binds src attribute of the <img> element to the value of lesson.image.-->
                        <!-- inside the loop so it iterates through the whole loop -->
                        <figure>
                            <img v-bind:src="lesson.image" style="height:250px; width:250px">
                        </figure>


                        <!--LOCATION/PRICE/AVAILABILITY DETAILS-->

                        <!--Vue.js expressions enclosed in double curly braces ({{ }}), and they are used for data binding-->
                        <!-- these expressions are replaced with the actual values from the Vue instance's data.-->
                        <p>Location: {{ lesson.location }}</p>
                        <!--{{lesson.location}} replaced with the value of the location property of the lesson object-->
                        <p>Price: {{ lesson.price }} AED</p>
                        <!--{{lesson.price}} replaced with the value of the price property of the lesson object followed by AED-->
                        <p>Availability: {{ lesson.availability }} spaces</p>
                        <!--{{lesson.availability}} replaced with the value of the availability property of the lesson object followed by spaces-->


                        <!-- DISPLAY STAR RATING BASED ON LESSON RATING -->
                        <div>
                            <!--if lesson.rating is 3, it will generate three filled stars.-->
                            <span v-for="n in lesson.rating" class="star">★</span>

                            <!--it calculates the number of empty stars needed by subtracting lesson.rating from 5-->
                            <!--eg: if lesson.rating is 3, it will generate two empty stars to complete the total of five stars-->
                            <span v-for="n in 5 - lesson.rating" class="star">☆</span>
                        </div>
                        <!-- ADD TO CART BUTTON -->
                        <!--(v-on) listenS for a click event on the button. When the button is clicked, it triggers the addToCart method-->
                        <button v-on:click='addToCart(lesson)' :disabled="!canAddToCart(lesson)">
                            <!--(disabled) dynamic binding that sets the button to a disabled state based on the result of the canAddToCart method-->
                            <!--if canAddToCart = false then button is disabled, if true = enabled-->
                            Add to Cart
                        </button>

                        <!--DISPLAY OUT OF STOCK MSG IF AVAILABILITY/SPACES = 0 -->

                        <!--(v-if)checks whether the availability property of the current lesson is equal to 0, if true "out of stock" displayed-->
                        <span v-if="lesson.availability === 0" class="out-of-stock">Out of stock</span>
                    </div>
                </div>
            </div>

            <!--IF SHOPPING CART IS NOT EMPTY: -->
            <div v-else>
                <!-- Display shopping cart or checkout -->
                <div class="cart-container">
                    <!-- Display 'Shopping Cart' or 'Checkout' based on cart status -->
                    <h2>{{ cart.length > 0 ? 'Shopping Cart' : 'Checkout' }}</h2>
                    <!--cart.length > 0 is true) tht means If there are items in the cart , it shows "Shopping Cart"; otherwise, it shows "Checkout"-->

                    <!--(v-if) checks if cart is empty, if empty it displays msg below-->
                    <div v-if="cart.length === 0">
                        <!-- Display message if the shopping cart is empty -->
                        <p>Your shopping cart is empty.</p>
                    </div>

                    <!--if the shopping cart is NOT empty: -->
                    <div v-else>
                        <!-- Display items in the shopping cart -->
                        <!--(v-for) iterates over each item in the cart array-->
                        <div v-for="cartLesson in cart" class="cart-item">
                            <h3>{{ cartLesson.name }}</h3>
                            <!-- Display price and button to remove from Cart -->
                            <p>Price: {{ cartLesson.price }} AED</p>

                            <!--when clicked, triggers the removeFromCart method with the current cartLesson as an argument-->
                            <button v-on:click="removeFromCart(cartLesson)">Remove from Cart</button>
                        </div>
                    </div>

                    <!--CHECKOUT PAGE-->
                    <!--checks if the length of the cart array is greater than 0-->
                    <!--If true, the content inside this <div> will be displayed - indicating that there are items in the shopping cart-->
                    <div v-if="cart.length > 0">

                        <!-- Order information -->
                        <h2>Order Information</h2>
                        <p>
                            <strong>Full Name:</strong> <!--bold text-->

                            <!-- Input for user's full name -->
                            <!--(v-module) two-way binding on an input element-->
                            <!-- It binds the input field value to a property in my Vue instance's data-->
                            <input v-model.trim="order.fullName" @input="validateFullName" />
                            <!--(.trim)trims input (unintentional whitespaces are removed)-->
                            <!--(order) = object in your Vue instance's data & (fullName) = property of the order object-->
                            <!--user types or modifies the input, the validateFullName method is called.-->


                            <!-- Validation message for full name -->
                            <!--if validFullName is false (indicating invalid full name) and order.fullName is not an empty string.-->
                            <span v-if="!validFullName && order.fullName !== ''" class="validation-error">Please enter a
                                valid full name with letters only.</span>
                        </p>

                        <p>
                            <strong>Phone Number:</strong>
                            <!-- Input for user's phone number -->
                            <input v-model="order.phone" @input="validatePhone" />
                            <!-- Validation message for phone number -->
                            <span v-if="!validPhone && order.phone !== ''" class="validation-error">Please enter a valid
                                phone number.</span>
                        </p>

                        <!-- Place Order button -->
                        <button v-on:click="submitForm" :disabled="!validOrderInfo">Checkout</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Vue.js script -->
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app', //creating a new vue instance with the element named as app
            data: {
                // Site name mounting the app
                sitename: "After School Lessons",
                // Contains an array of lesson data
                lessons: lessons,
                // Flag to toggle between lesson display and shopping cart/checkout (flag is like a switch: when its true then it displays lessons, when its false = checkout page)
                showProduct: true,
                // Array to store items in the cart
                cart: [],
                // Attribute to sort lessons by (default: Name of Subject)
                sortAttribute: "name",
                // Order to sort lessons (default: Ascending)
                sortOrder: "asc",
                // Order information (full name, phone)
                order: {
                    fullName: '', //input shud be empty, the textbox shouldnt have anything in it obviously
                    phone: '',

                },

                // Validation flags for full name and phone number
                validFullName: false,
                validPhone: false,

                // User input for lesson search
                searchQuery: '', //its empty bc when u type it will check each character, checks the input
            },
            methods: {
                // This method is responsible for adding a lesson to the shopping cart
                addToCart: function (lesson) { //lesson object as a parameter
                    if (lesson.availability > 0) { //checks if the availability of the lesson is greater than 0
                        this.cart.push(lesson);
                        //If the availability is greater than 0, the lesson is added to the cart array, and the availability is decremented by 1.
                        lesson.availability--;
                    }
                },
                // Toggle between lesson display and shopping cart/checkout
                toggleCart() {
                    //!this.showProduct is a logical NOT operation, flipping the current boolean value of this.showProduct. If it's true, !true becomes false, and if it's false, !false becomes true
                    //If this.showProduct = true the lessons will be displayed. 
                    //After toggling, if it becomes false, the shopping cart/checkout section will be displayed, and vice versa.
                    this.showProduct = !this.showProduct;
                },


                // Check if lesson can be added to the cart
                canAddToCart: function (lesson) { //lesson object as a parameter
                    // if lesson's availability is greater than 0 = the method returns true
                    // that means the lesson can be added to the cart
                    return lesson.availability > 0;
                },


                // Remove lesson from the cart
                removeFromCart: function (lesson) {
                    ////finds the index of the lesson in the cart array using the indexOf method
                    //If the lesson is present in the cart, indexOf returns its index
                    //If the lesson is not found, indexOf returns -1.
                    const index = this.cart.indexOf(lesson);

                    if (index !== -1) { //if index is not equal to -1
                        //this.cart: Refers to the cart array in the Vue instance's data, splice method is used to modify the contents of an array by removing or replacing existing elements
                        //removes one item from the cart array at the specified index.
                        this.cart.splice(index, 1);

                        //increments the availability of the specific lesson by 1 after removing it from the cart.
                        lesson.availability++;
                    }
                },

                // Method to Validate full name using regex
                validateFullName() {
                    // regular expression - allows only letters (both uppercase and lowercase) and spaces
                    const regex = /^[A-Za-z\s]+$/;

                    //test method is built-in method for regular expressions in JavaScript. 
                    //It checks if the given string (this.order.fullName) matches the pattern defined by the regular expression (regex).
                    //The result (truee/false) of the test is then assigned to this.validFullName
                    //if fullname matches the regex pattern = (this.validFullName) will be true, otherwise false
                    this.validFullName = regex.test(this.order.fullName);
                },
                // Validate phone number using regex
                validatePhone() {
                    // Regular expression for allowing only digits (0-9)
                    const regex = /^[0-9]*$/;
                    // Testing if the phone number matches the regex pattern
                    //if validPhone is true = indicates that phone number follows the regex pattern.
                    this.validPhone = regex.test(this.order.phone);
                    //regex test is assigned to the validPhone property of the Vue instance's data.
                },

                // AFTER ORDER IS SUBMITTED = ORDER SUBMITTED MESSAGE 
                submitForm() {
                    alert('Order Submitted!');
                    // clears the shopping cart, indicating that the order has been successfully submitted 
                    this.cart = [];
                    ////clears the user's input for full name and phone number after the order has been submitted.
                    this.order = {
                        fullName: '',
                        phone: '',

                    };
                },
            },


            computed: {
                // Computed Property Calculates the number of items in the cart
                cartItemCount: function () {
                    //(this.cart.length) represents the number of items in the shopping cart.
                    // if (this.cart.length) has a value other than 0 = computed property returns the actual length
                    // If (this.cart.length) is 0 = it returns an empty string ('')
                    return this.cart.length || '';
                },

                // Check if order information is valid
                // (ValidOrderInfo) computed property is a function that returns the result of the logical AND (&&) operation between two boolean values: this.validFullName and this.validPhone
                validOrderInfo: function () {
                    //(this.validFullName) and (this.validPhone) are properties in the Vue instance's data 
                    // they represent whether the full name and phone number are valid based on certain validation criteria (as defined by the validateFullName and validatePhone methods).
                    return this.validFullName && this.validPhone;
                },


                // Sort and filter lessons based on user input
                sortedLessons: function () {
                    // Sorting logic for lessons
                    // retrieves the sorting attribute (this.sortAttribute) from the Vue instance's data.
                    // The (this.sortAttribute) represents the property of the lessons by which the lessons should be sorted (e.g., "name," "location," "price," etc.).
                    const attribute = this.sortAttribute; //sorting by name, under the data
                    const order = this.sortOrder === "asc" ? 1 : -1; //1 is ascending, -1 is descending

                    return this.lessons.slice(0).sort((a, b) => { //slice of 0 = starts traversing (going thru each letter of the alphabet one by one) from the first letter of name
                        //a and b r two random variables I've declared
                        let aValue = a[attribute]; //taking one alphabet letter and compared it with the other
                        let bValue = b[attribute];

                        if (typeof aValue === "string") { //checking the type of value is entered as the variable, if its a string force it to be lowercase
                            aValue = aValue.toLowerCase(); //aValue is converted to lower case (if it is string)
                            bValue = bValue.toLowerCase(); //to make the comparison more accurate, both the variables r lowercase (cz lower case has different values and uppercase have different values)
                        }

                        if (aValue > bValue) { //if aValue is bigger than bValue
                            return order; //then it is shown in ascending 
                        } else if (aValue < bValue) { //if aValue is smaller than bValue
                            return -order; //then it is shown in descending order
                        }

                        return 0; //ends the function
                    });
                },


                // Unique Search function for "Search as you type"
                filteredLessons: function () {
                    //(this.searchQuery)refers to the user's input in the search bar.
                    // It's a property in the Vue instance's data, representing the text that the user has entered for searching lessons.
                    //(toLowerCase) JavaScript string method that converts all the characters in a string to lowercase.
                    //By applying toLowerCase() to this.searchQuery, the user's input is converted to lowercase characters.
                    //The result of this.searchQuery.toLowerCase() is stored in the variable query.
                    //So, (query) now holds the lowercase version of the user's search input.
                    const query = this.searchQuery.toLowerCase();

                    //(!query) NOT operator used - checks if the user's search query is an empty string.
                    //If the condition !query is true, indicating that the search query is empty, the computed property returns all lessons without filtering.
                    //in this case - it returns the result of (this.sortedLessons), which is the array of lessons sorted based on the user's sorting preferences.               
                    //helps to avoid unnecessary filtering when the user hasn't initiated a search. It ensures that, by default, all lessons are displayed when there's no specific search criteria.
                    if (!query) return this.sortedLessons; // If the query is empty, return all lessons

                    //(.filter) method is an array method in JavaScript - creates a new array containing elements from the original array 
                    //(lesson =>) arrow function takes each element of this.sortedLessons as lesson and executes the code within the curly braces.
                    return this.sortedLessons.filter(lesson => {
                        // each lesson, it retrieves the name  and converts them to lowercase using toLowerCase().
                        const lessonName = lesson.name.toLowerCase();
                        // each lesson, it retrieves the location and converts them to lowercase using toLowerCase().
                        const lessonLocation = lesson.location.toLowerCase();

                        //checks whether either the lesson name or the lesson location includes the search query.
                        //it returns true if the search query is found within the lesson name or location.
                        return lessonName.includes(query) || lessonLocation.includes(query);
                        //resulting array from this filter operation represents lessons that match the user's search criteria.
                        //This array is then used to dynamically display only the relevant lessons on the website based on the user's input.
                    });
                },
            },
        });
    </script>
</body>

</html>