<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Set the title of the HTML document -->
    <title>After School Lessons</title>
    <!-- Link to the external stylesheet for styling -->
    <link rel="stylesheet" href="styles.css">
    <!-- This is the link to the Vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- This is linking the JavaScript file containing lessons data -->
    <script src="lessons.js"></script>
</head>

<body>
    <!-- Vue.js app container -->
    <!--creating a new vue instance with the element named as app -->
    <div id="app"> <!--anchor point for Vue.js to mount and control the application-->
        <main> <!--main content of my web page-->

            <!-- Display site name using mustache syntax-->
            <h1>{{sitename}}</h1>
            <!--syntax for data binding (dynamically updates when value of 'sitename' variable changes)-->
    
     <!-- Label for the sort dropdown -->
     <label for="sortAttribute">Sort by:</label>

     <!-- Dropdown for selecting sorting attribute -->
     <!--v-model="sortattribute" is a vue.js directive - it creates 2 way binding b/w sortAttribute in data & select element-->
     <!--if the user selects an option, sortAttribute in my Vue.js instance will be updated, and vice versa-->
     <select v-model="sortAttribute" id="sortAttribute">
         <option value="name">Subject</option>
         <option value="location">Location</option>
         <option value="price">Price</option>
         <option value="availability">Spaces</option>
         <!--<option> Elements: are individual options within the dropdown. -->
         <!--Each option has a value attribute representing the sorting attribute, and the text content inside the <option> tag is what the user sees in the dropdown menu.-->
     </select>

      <!-- Dropdown for selecting sorting order -->
            <!---->
            <label for="sortOrder">Order:</label>

            <!-- v-model="sortOrder" establishes a two-way binding between the dropdown and the data in the Vue instance-->
            <select v-model="sortOrder" id="sortOrder">
                <!--Ascending" is chosen, lessons will be sorted from the smallest to the largest-->
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
                <!--user selects an option, the sortOrder variable is updated with the chosen value.-->
            </select>
             <!--SEARCH BAR-->
            <!--(type="text"): This sets the input field to accept text-->
            <input type="text" v-model="searchQuery" placeholder="Search lessons">
            <!--v-model="searchQuery": establishes a two-way binding between the input field and the searchQuery variable in the Vue instance-->
            <!--As the user types into the search bar, the searchQuery variable is automatically updated with the input.-->


            <!-- SHOPPING CART BUTTON -->
            <!--(v-on:click='toggleCart') Vue.js directive - listens for a click event
            When the button is clicked, it triggers the toggleCart method in the Vue instance.-->
            <button v-on:click='toggleCart' :disabled="cart.length === 0">
                <!--(disabled="cart.length === 0") Vue.js directive - for dynamic attribute binding
            disables button if the condition cart.length === 0 evaluates to true. (if the shopping cart is empty, the button is disabled; otherwise, it's enabled)-->
                {{cartItemCount}}
                <!--computed property in the Vue instance that dynamically calculates and updates the number of items in the shopping cart.-->
                <span class="fas fa-cart-plus"></span> Shopping Cart
            </button>
</main>
</body>

</html>